.root {
    -fx-background-image: url("/styles/internet.jpg");
    -fx-background-size: cover;
}



.grid-pane {
    -fx-padding: 20;
}

.label {
    -fx-font-size: 14px;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.combo-box {
    -fx-pref-width: 200px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #0056b3;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0, 0, 3);
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
